!!!
%html
  %head
    %title Dummy
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    = yield
    %ul
      %li= link_to 'Users', users_url
      %li= link_to 'Comments', comments_url
